body{
}

.bg-black{
    background-color: black;
}

.main-content{
    padding-top: 56px;
    height: 1000px;
}

@media (max-width: 979px){
    body{
        padding-top: 0px;
    }
}

.register{
    color: grey;
}

.register:hover{
    color:white;
    text-decoration: none;
}

.login{
    color: grey;
    padding-left: 25px;
}

.login:hover{
    text-decoration: none;
    color: white;
}

.logout{
    color: grey;
}

.logout:hover{
    text-decoration: none;
    color: white;
}

.parallax{
    background: url('../images/bridge.jpg') no-repeat center;
    -webkit-filter: contrast(75%);
    filter: contrast(75%);
    background-size: cover 1000px;
    background-attachment: fixed;
    height: 300px;
}

.parallax p{
    padding-top: 56px;
}

.error{
    color: red;
}