body{

}

.bg-color{
    background-color: black;
}

.navbar a{
    color: white;
}

.nav-item{
    margin-left: 30px;
}

.navbar-nav{
    width: 100%;
}

.navbar-brand{
    font-size: 32px;
}

.main-content{
    padding-top: 56px;
    height: 1000px;
}

@media (max-width: 979px){
    body{
        padding-top: 0px;
    }
}

.register{
    color: grey;
}

.register:hover{
    color:white;
    text-decoration: none;
}

.login{
    color: grey;
    padding-left: 25px;
}

.login:hover{
    text-decoration: none;
    color: white;
}

.logout{
    color: grey;
}

.logout:hover{
    text-decoration: none;
    color: white;
}

.parallax{
    background: url('../images/bridge.jpg') no-repeat center;
    -webkit-filter: contrast(75%);
    filter: contrast(75%);
    background-size: cover 1000px;
    background-attachment: fixed;
    height: 200px;
    margin-top: 65px;
}

.border-beige{
    border: 5px solid #eaeab4;
    padding: 50px;
}

.error{
    color: red;
}