<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Generic Shoe Website</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ url_for('home') }}">Practice Website</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        {% if current_user.is_anonymous %}
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home Again</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            {% if current_user.is_anonymous %}
            <a class="register" href="{{ url_for('register') }}">Register</a>
            <a class="login" href="{{ url_for('login') }}">Log In</a>
            {% else %}
            <a class="logout" href="{{ url_for('logout') }} ">Log Out</a>
            {% endif %}
        </nav>
        <div class="parallax container-fluid"></div>
    </header>
    <div class="main-content container-fluid">
        <div class="row justify-content-center">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>